.MainTitle {
  text-align: center;
}
.MainText {
  font-size: 50px;
  font-weight: bold;
  color: black;
}
.Header {
  height: 100px;
}
.Whole {
  background-color: #eaf0f8;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.WhiteBox {
  background-color: white;
}
.WhiteBoxHeight {
  height: 20px;
}
