#pillimi {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.infolabel{
   font-weight: bold;
}

.center {
  text-align: center;
  font-size: large;
}

.bigbnt {
  margin-top: 10%;
  width: 70%;
}