.center {
  text-align: center;
  font-size: large;
}

.allcenter {
  display: grid;
  place-items: center;
  min-height: 50vh;
}

.circle {
  color: #2BC228;
}

.bigfont {
  font-size: 30px;
  line-height: 2.2;
  font-weight: 500;
}