#pillimi {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.infolabel{
   font-weight: bold;
}

.center {
  text-align: center;
  font-size: large;
}

.bigbnt {
  margin-top: 10%;
  width: 70%;
}

.datepicker {
  width: 50%;
  margin-left: 25%;
}

#nickname {
  border-color: black;
}
input[type="checkbox"] {
  zoom: 1.5;
}

.dateinput {
  border-radius: 0px
}