
.infolabel{
   font-weight: bold;
}

.center {
  text-align: center;
  font-size: large;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
}

.bigbnt {
  margin-top: 5%;
  width: 70%;
  
}

.datepicker {
  width: 50%;
  margin-left: 25%;
}

#nickname {
  border-color: black;
}
input[type="checkbox"] {
  zoom: 1.5;
}

.dateinput {
  border-radius: 0px
}

.imgsize {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;

}

.top {
  height: 60vh;
}