.center {
  text-align: center;
  font-size: large;
}

.allcenter {
  display: grid;
  place-items: center;
  min-height: 50vh;
}

.circle {
  color: #2BC228;
}

.blue {
  color: #0369A1;
}

.bigfont {
  font-size: 30px;
  line-height: 2.2;
  font-weight: 500;
}

.smaller {
  clear: both;
  font-size: small;
}

.checkAlarm {
  clear: both;
  font-size: medium;
  line-height: 1.8;
  margin-top: 10%;
  background-color: white;
  margin-left: 0 auto;
  margin-right: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100vw;
}

.checkAlarm2 {
   clear: both;
  font-size: medium;
  line-height: 1.8;
  margin-bottom: 8px;
  background-color: white;
  margin-left: 0 auto;
  margin-right: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100vw;
}

.alarmDescript {
  clear: both;
  font-size: small;
}

.alarmDescript2 {
  text-align: left;
  margin-left: 3%;
}

.backcolor {
  background-color: #EAF0F8;
  margin: 0;
  /* width: 100vw; */
  /* height: 200vw; */
}

hr {
  margin-bottom : 0;
  background-color: #676767;
}

.bold {
  font-weight: bold;
}

.whole {
  width: 100vw;
  height: 100vh;
  background-color: #EAF0F8;
  margin: 0 auto;
}

.imgsize {
  width: 35px;
}

.imgsize2 {
  width: 60px
}

.imgsize3 {
  width: 200px
}

.size {
  width: 60px;
}

.size2 {
  width: 110px;
}

.bigbnt {
  margin-top: 10%;
  width: 100%;
  font-weight: bold;
  color: black;
  font-size: larger;
}

.bottom {
  position: fixed;
  width: 100%;
  bottom: 20%;
}

.buttoncolor{
  background-color: #0369a1;
  border-radius: 5px;
  color: white;
  border-color: #0369A1;
}