.Whole {
  background-color: #eaf0f8;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.Background {
  background-color: #eaf0f8;
}
.MainText {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.TimeText {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 0px !important;
}
.Header {
  height: 100px;
}
.WhiteBox {
  background-color: white;
}
.Img {
  font-size: 25px;
  font-weight: bold;
  margin-left: 8%;
  margin-right: 30%;
}
.PillImg {
  margin-left: 5%;
  width: 10% !important;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
.ItemAlign {
  font-size: medium;
  line-height: 1.8;
  text-align: center;
}
.DoneBtn {
  color: black !important;
  font-weight: bold !important;
  font-size: 25px !important;
  text-align: center !important;
  width: 80% !important;
  margin: auto !important;
  display: block !important;
  background-color: #2bc228 !important;
}

.DoneBtn:hover,
.DoneBtn:focus {
  background-color: #2bc228 !important;
  color: black !important;
  cursor: default !important;
  box-shadow: none !important;
}

.PictureBtn {
  color: black !important;
  font-weight: bold !important;
  font-size: 25px !important;
  text-align: center !important;
  width: 80% !important;
  margin: auto !important;
  display: block !important;
  background-color: #0284c7 !important;
}

.PictureBtn:hover,
.PictureBtn:active,
.PictureBtn:focus {
  color: black !important;
  background-color: #0284c7 !important;
  box-shadow: none !important;
}

.Icon {
  float: right;
  margin-top: 40px;
  margin-right: 10%;
  font-size: 30px;
}

.MemberName {
  float: left;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 40px;
}

.Family {
  font-weight: bold;
  margin-left: 10%;
  /* margin-left: 60px; */
}

.img {
  width: 40%;
  border-radius: 50%;
}

.WhiteBackground {
  background-color: white;
}
