hr {
  background-color: #676767;
}

.PillDetailTitle {
  font-weight: bold;
  text-align: center;
  word-break: break-all;
}

.Label {
  font-size: 23px;
  font-weight: bold;
}

.LabelContent {
  font-size: 20px;
  word-break: break-all;
}

.CompanyName {
  text-align: center;
  font-size: 20px;
}

.AddBtn {
  color: black !important;
  font-weight: bold !important;
  font-size: 25px !important;
  text-align: center !important;
  width: 80% !important;
  margin: auto !important;
  display: block !important;
  background-color: #2bc228 !important;
}

.AddBtn:hover,
.AddBtn:focus,
.AddBtn:active {
  background-color: #2bc228 !important;
  color: black !important;
  box-shadow: none !important;
}

.Content {
  margin-left: 10%;
  margin-right: 10%;
}

.modalBody {
  text-align: center !important;
  padding-top: 5% !important;
}

.modalBody_remove {
  text-align: center !important;
  padding-top: 0px !important;
}

.closeBtn {
  color: #0284c7 !important;
  opacity: 1 !important;
}

.familyName {
  font-size: 18px;
}
