hr {
  background-color: #676767;
}

.Whole {
  background-color: #eaf0f8;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.PillDetailTitle {
  font-weight: bold;
  text-align: center;
}

.SearchInput {
  background-color: white !important;
  margin-left: 10% !important;
  margin-right: 5% !important;
  width: 52.5% !important;
  height: 6% !important;
  float: left !important;
  border-radius: 2px !important;
}

.SearchInput:focus {
  border-color: #0284c7 !important;
}

.SearchBtn {
  color: black !important;
  font-weight: bold !important;
  font-size: 14px !important;
  text-align: center !important;
  width: 20% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block !important;
  background-color: #0284c7 !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.SearchBtn:hover,
.SearchBtn:active,
.SearchBtn:focus {
  color: black !important;
  background-color: #0284c7 !important;
  box-shadow: none !important;
}

.PillList {
  margin-left: 10% !important;
  width: 77.5% !important;
  box-shadow: none !important;
  cursor: pointer !important;
  word-break: break-all;
}

.Img {
  margin-left: 5%;
  width: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}

.PillName {
  margin-left: 5%;
  font-size: 17px;
}

i {
  float: right;
  margin-right: 2%;
}

.AlertText {
  margin-left: 10% !important;
}
