.Whole {
  margin-left: 10%;
  margin-right: 10%;
}

.PillName {
  font-weight: bold;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.Label {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 2% !important;
}

.Input:focus {
  border-color: #0284c7 !important;
}

.TimePlus {
  cursor: pointer;
}

.Badge {
  margin-top: 4% !important;
  margin-bottom: 4% !important;
  color: black !important;
}

.BadgeTime {
  color: black !important;
  margin-bottom: 20px !important;
}

.ModifyBtn {
  color: #e0f2fe !important;
  font-weight: bold !important;
  font-size: 20px !important;
  text-align: center !important;
  width: 35% !important;
  float: left !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  display: block !important;
  background-color: #0284c7 !important;
}

.ModifyBtn:hover,
.ModifyBtn:active,
.ModifyBtn:focus {
  color: #e0f2fe !important;
  background-color: #0284c7 !important;
  box-shadow: none !important;
}

.DoneBtn {
  color: #e0f2fe !important;
  font-weight: bold !important;
  font-size: 20px !important;
  text-align: center !important;
  width: 80% !important;
  margin: auto !important;
  display: block !important;
  background-color: #0284c7 !important;
}

.DoneBtn:hover,
.DoneBtn:active,
.DoneBtn:focus {
  color: #e0f2fe !important;
  background-color: #0284c7 !important;
  box-shadow: none !important;
}

.More {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.RemoveBtn {
  color: #e0f2fe !important;
  font-weight: bold !important;
  font-size: 20px !important;
  text-align: center !important;
  width: 35% !important;
  margin-right: 10% !important;
  display: block !important;
  background-color: #f44444 !important;
}

.RemoveBtn:hover,
.RemoveBtn:active,
.RemoveBtn:focus {
  color: #e0f2fe !important;
  background-color: #f44444 !important;
  box-shadow: none !important;
}

.RealRemoveBtn {
  color: #e0f2fe !important;
  font-weight: bold !important;
  font-size: 20px !important;
  text-align: center !important;
  width: 35% !important;
  float: left !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  display: block !important;
  background-color: #f44444 !important;
}

.RealRemoveBtn:hover,
.RealRemoveBtn:active,
.RealRemoveBtn:focus {
  color: #e0f2fe !important;
  background-color: #f44444 !important;
  box-shadow: none !important;
}

.CancelBtn {
  color: #e0f2fe !important;
  font-weight: bold !important;
  font-size: 20px !important;
  text-align: center !important;
  width: 35% !important;
  margin-right: 10% !important;
  display: block !important;
  /* background-color: #0284c7; */
}

.CancelBtn:hover,
.CancelBtn:active,
.CancelBtn:focus {
  color: #e0f2fe !important;
  /* background-color: #0284c7 !important; */
  box-shadow: none !important;
}

h5 {
  margin-bottom: 0px !important;
}

.DayGroup {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.Day {
  border-radius: 50px !important;
}
.selDay{
  border-radius: 50px !important;
  background-color: #0284c7 !important;
}